.appbar {
    width: 100%;
    position: fixed;
    left: 0;
    margin-left: 100px;
    margin-right:100px;
    top: 0;
    height: 36px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);    
    padding: 13px;
    padding-right: 100px;
  }