.recent{
    border-radius: 13px;    
    grid-row-start:1;
    grid-row-end: 13;
    height: 100%;
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 9;
    box-shadow: rgba(214, 13, 13, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    
}
.feed{
    margin: 34px;
    grid-column-start: 1;
    grid-column-end: 8;
    height: 100%;
    border-radius: 21px;
}
.pane{
    border-radius: 13px;    
    grid-row-start:1;
    grid-row-end: 13;
    height: 100%;
    width: 100%;
    grid-column-start: 10;
    grid-column-end: 13;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.heading{
    padding: 0 21px;    
    font-weight: bold;    
}
    