
.desktop {
    display: grid;
    padding: 0px;    
    grid-template-columns: repeat(6, 1fr);
    place-items: center;
  }
  
  .mobile {
    display: none;
  }
  
  @media only screen and (max-width: 640px) {
    .desktop {
      display: none;
    }
    .mobile {
      display: grid;
    }
    
  }
  @media only screen and (min-width: 1024px) {
    .desktop {
      display: grid;
      padding: 16px;
      grid-template-columns: repeat(12, 1fr);        
      place-items: center;
    } 
    
  }
  .appbar{
    width: 100%;
    position: fixed;
    top: 0;
    height: 62px;
  }

  .switch-on {
    animation: switchOn 800ms forwards ;    
  }
  @keyframes switchOn {
    100% {
      transform: translateX(-24px);
    }
  }
  .switch-off {
    animation: switchOff 800ms forwards ;    
    /* transform: translateX(-48px); */
  }
  @keyframes switchOff {
    0% {
      transform: translateX(-24px);
    }
    100% {
      transform: translateX(0px);
    }
  }